body {
	font-family: calbri, Helvetica, sans-serif;
	font-size:15px;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
.container2{
	margin:auto;
	overflow:hidden;
}

span, .current a{
	color:#ce9b4e;
	font-weight:bold;
}

header{
	background:#60574a;
	color:#ffffff;
	padding-top:30px;
	min-width:100%;
	min-height:70px;
	border-bottom:#ce9b4e 6px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px
}

ul{
	margin:0;
	padding:0;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/*Show case-------- */
#showcase{
	min-height:800px;
	background:url('coding.png') no-repeat;
	background-size:cover; 
	background-position: center;
	text-align:center;
	color:#ffffff;
}

#showcase h1{
	margin-top:350px;
	font-size:60px;
	margin-bottom:10px;
}

#showcase h2{
	font-size:30px
}
#showcase p{
	font-size:20px
}

/*About section*/
#about{
	padding-top:20px;
	padding-bottom:50px;
	background:#ad936e;
	color:#ffffff;
	margin:0;
}

#about h1, #about h2, #info h1{
	text-align:center;
	text-shadow: 2px 2px 4px #000000;
}

#about p{
	background-color:#60574a;
	padding:10px 20px 10px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	margin-bottom:45px;
	float:left;
	width:70%;
}

#about img{
	display: block;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
	height:300px;
	float:right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#about .enhance{
	font-size:22px;
}

#about table{
	width:33%;
	float:left;
}

#info{
	width:100%;
	background:url('coding2.png');
	color:#ffffff
}


.info1{
	display: block;
	float: left;
	max-width:20%;
	min-height:200px;
	background-color: #eee;
	padding:10px 10px 10px 10px;
	color:black;
	margin:30px 10px 30px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.info1:hover{
	background-color: #ee9;
	transform: rotate(3deg);
}

/*Footer section*/
footer{
	padding:20px;
	color:#ffffff;
	background-color:#60574a;
	text-align:center;
	border-top:#ce9b4e 6px solid;
}

/*for phones of tablets*/
@media(max-width: 768px){
	header #branding, header nav, header nav li, about h1, #about table, #info, .info1{
		float:none;
		text-align:center;
		width:100%;
		 margin: 30px auto;
	}
	#about img{
		width:50%;
		float:none;
		margin: auto;
	}
	#about table{
		margin-bottom:25px;
	}
}


