/* - General Styles - */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin-top: 0px;
}

h1 {
  font-size: 41px;
  color: #fff;
  margin-top: 0px;
}

h4 {
  font-size: 24px;
  color: #fff;
  margin-top: 0px;
}

h5 {
  font-size: 20px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0.6em;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #FFC107;
  color: #2C2C36;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.primary-btn:hover {
  background-color: #2C2C36;
  color: #FFC107;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #8c8c8e;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 15px;
  background-color: #191923;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  #root {
    padding: 0px 15px;
  }
}

.App {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.loading {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}

.eportfolio-section {
  height: 100%;
  width: 100%;
}

aside {
  width: 290px;
  min-width: 290px;
  height: 100%;
  background-color: #20202a;
  float: left;
  position: relative;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

@media only screen and (max-width: 900px) {
  aside {
    position: fixed;
    z-index: 10;
    left: -291px;
  }
  aside.slide {
    left: 0px;
  }
}

aside .aside-button {
  display: none;
  position: absolute;
  right: -30px;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #FFC107;
  border: 0px;
  color: #1E1E28;
}

@media only screen and (max-width: 900px) {
  aside .aside-button {
    display: block;
  }
}

aside .aside-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #252532;
}

aside .aside-header .avatar-icon {
  margin-bottom: 15px;
}

aside .aside-header .avatar-icon img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

aside .aside-content {
  overflow-y: scroll;
  padding: 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: calc((100% - 266px) - 48px);
}

aside .aside-content::-webkit-scrollbar {
  display: none;
}

aside .aside-content hr {
  border-color: #fff;
  opacity: 0.5;
  margin: 30px 0px;
}

aside .aside-content .aside-info {
  margin-bottom: -5px;
}

aside .aside-content .aside-info .info-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

aside .aside-content .aside-info .info-row p {
  margin: 0px;
  font-size: 14px;
}

aside .aside-content .aside-info .info-row p:nth-of-type(1) {
  color: #fff;
  float: left;
}

aside .aside-content .aside-info .info-row p:nth-of-type(2) {
  float: right;
  text-align: right;
}

aside .aside-content .skills-tags p {
  color: #fff;
}

aside .aside-content .skills-tags ul {
  display: inline-block;
  width: 100%;
  margin-bottom: -10px;
}

aside .aside-content .skills-tags ul li {
  float: left;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2C2C36;
  color: #FFC107;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

aside .aside-content .skills-tags ul li:hover {
  color: #2C2C36;
  background-color: #FFC107;
}

aside .aside-content .skills-check ul {
  padding-left: 1.7em;
}

aside .aside-content .skills-check ul li {
  position: relative;
  margin-bottom: 7px;
  font-size: 14px;
}

aside .aside-content .skills-check ul li i {
  color: #FFC107;
  font-size: 13px;
}

aside .aside-content .cv-download a {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #8c8c8e;
  font-size: 14px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

aside .aside-content .cv-download a:hover {
  color: #fff;
}

aside .aside-social {
  padding: 15px 30px;
  background-color: #252532;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

aside .aside-social a {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

aside .aside-social a:hover {
  color: #fff;
}

main {
  float: right;
  width: calc(100% - 290px);
  height: 100%;
  padding: 0px 30px 0px 30px;
  background-color: #1E1E28;
}

@media only screen and (max-width: 900px) {
  main {
    width: 100%;
    float: none;
    padding: 0px 15px 0px 15px;
  }
}

main .main-scrollbox {
  overflow-y: scroll;
  height: 100%;
  padding-top: 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main .main-scrollbox::-webkit-scrollbar {
  display: none;
}

main .main-scrollbox .hero-banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media only screen and (max-width: 900px) {
  main .main-scrollbox .hero-banner {
    height: auto;
  }
}

main .main-scrollbox .hero-banner:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 54, 0.7);
}

main .main-scrollbox .hero-banner .hero-content {
  position: relative;
  color: #fff;
}

main .main-scrollbox .hero-banner .hero-content p {
  font-size: 20px;
}

main .main-scrollbox .hero-banner .hero-image {
  position: relative;
  display: none;
}

main .main-scrollbox .numbers-row {
  margin: 30px 0px;
}

main .main-scrollbox .numbers-row ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

@media only screen and (max-width: 1140px) {
  main .main-scrollbox .numbers-row ul {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

main .main-scrollbox .numbers-row ul li {
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-scrollbox .numbers-row ul li span {
  color: #FFC107;
  margin-right: 1em;
  font-size: 22px;
  font-weight: 600;
}

main .main-scrollbox .experience-grid {
  margin: 30px 0px;
}

main .main-scrollbox .experience-grid .experience-grid-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 1140px) {
  main .main-scrollbox .experience-grid .experience-grid-inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  main .main-scrollbox .experience-grid .experience-grid-inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main .main-scrollbox .experience-grid .experience-grid-inner .experience-item {
  padding: 5%;
  background-color: #2C2C36;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

main .main-scrollbox .experience-grid .experience-grid-inner .experience-item h5 {
  margin-bottom: 0.1em;
}

main .main-scrollbox .experience-grid .experience-grid-inner .experience-item span {
  display: block;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 1em;
}

main .main-scrollbox footer {
  padding: 15px 30px;
  display: inline-block;
  width: 100%;
  background-color: #2C2C36;
  vertical-align: bottom;
}

main .main-scrollbox footer p {
  margin: 0px;
}

@media only screen and (max-width: 900px) {
  main .main-scrollbox footer p {
    float: none !important;
    text-align: center;
  }
}

main .main-scrollbox footer p:nth-of-type(1) {
  float: left;
}

@media only screen and (max-width: 900px) {
  main .main-scrollbox footer p:nth-of-type(1) {
    margin-bottom: 10px;
  }
}

main .main-scrollbox footer p:nth-of-type(2) {
  float: right;
}
/*# sourceMappingURL=index.css.map */