$base-dark-0: #191923;
$base-dark-01: #1e1e28;
$base-dark-1: #20202a;
$base-dark-2: #252532;
$base-dark-3: #2c2c36;
$highlight: #ffc107;
$dark-highlight: #474750;
$grey-text: #8c8c8e;

$small-text: 14px;

$tablet: 1140px;
$mobile: 900px;
$small-mobile: 500px;

/* - General Styles - */

* {
  box-sizing: border-box;
}

p {
  margin-top: 0px;
  line-height: 1.2;
}

h1 {
  font-size: 41px;
  color: #fff;
  margin-top: 0px;
}

h4 {
  font-size: 24px;
  color: #fff;
  margin-top: 0px;
}

h5 {
  font-size: 20px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0.6em;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: $highlight;
  color: $base-dark-3;
  transition: 0.3s all ease;

  box-shadow: 0 0 0 0 rgba(255, 193, 7, 1);
  transform: scale(1);
  //animation: pulse 2s infinite;
  &:hover {
    background-color: $base-dark-3;
    color: $highlight;
  }
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $grey-text;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 15px;
  background-color: $base-dark-0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: $mobile) {
    padding: 0px 15px;
  }
}

.App {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.eportfolio-section {
  height: 100%;
  width: 100%;
}

aside {
  width: 290px;
  min-width: 290px;
  height: 100%;
  background-color: $base-dark-1;
  float: left;
  position: relative;
  transition: 0.3s all ease;
  @media only screen and (max-width: $mobile) {
    position: fixed;
    z-index: 10;
    left: -291px;
    &.slide {
      left: 0px;
    }
  }
  .aside-button {
    display: none;
    position: absolute;
    right: -30px;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    background-color: $highlight;
    border: 0px;
    color: $base-dark-01;
    @media only screen and (max-width: $mobile) {
      display: block;
    }
  }
  .aside-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: $base-dark-2;
    .avatar-icon {
      margin-bottom: 15px;
      img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  .aside-content {
    overflow-y: scroll;
    padding: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: calc((100% - 266px) - 48px);
    &::-webkit-scrollbar {
      display: none;
    }
    hr {
      border-color: #fff;
      opacity: 0.5;
      margin: 30px 0px;
    }
    .aside-info {
      margin-bottom: -5px;
      .info-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        p {
          margin: 0px;
          font-size: $small-text;
        }
        p:nth-of-type(1) {
          color: #fff;
          float: left;
        }
        p:nth-of-type(2) {
          float: right;
          text-align: right;
        }
      }
    }
    .skills-tags {
      p {
        color: #fff;
      }
      ul {
        display: inline-block;
        width: 100%;
        margin-bottom: -10px;
        li {
          float: left;
          font-size: $small-text;
          padding: 5px 10px;
          border-radius: 5px;
          background-color: $base-dark-3;
          color: $highlight;
          margin-right: 10px;
          margin-bottom: 10px;
          transition: 0.3s all ease;
          &:hover {
            color: $base-dark-3;
            background-color: $highlight;
          }
        }
      }
    }
    .skills-check {
      ul {
        padding-left: 1.7em;
        li {
          position: relative;
          margin-bottom: 7px;
          font-size: $small-text;
          i {
            color: $highlight;
            font-size: 13px;
          }
        }
      }
    }
    .cv-download {
      a {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        color: $grey-text;
        font-size: $small-text;
        transition: 0.3s all ease;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .aside-social {
    padding: 15px 30px;
    background-color: $base-dark-2;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    width: 100%;
    a {
      transition: 0.3s all ease;
      &:hover {
        color: #fff;
      }
    }
  }
}

main {
  float: right;
  width: calc(100% - 290px);
  height: 100%;
  padding: 0px 30px 0px 30px;
  background-color: $base-dark-01;
  transition: 0.3s all ease;
  &.fade {
    @media only screen and (max-width: $mobile) {
      opacity: 0.4;
    }
  }
  @media only screen and (max-width: $mobile) {
    width: 100%;
    float: none;
    padding: 0px 15px 0px 15px;
  }
  .main-scrollbox {
    overflow-y: scroll;
    height: 100%;
    padding-top: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .hero-banner {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 5%;
      height: 400px;
      background-size: cover;
      background-position: center;
      position: relative;
      @media only screen and (max-width: $mobile) {
        height: auto;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(44, 44, 54, 0.7);
      }
      .hero-content {
        position: relative;
        color: #fff;
        p {
          font-size: 20px;
        }
      }
      .hero-image {
        position: relative;
        display: none;
      }
    }
    .numbers-row {
      margin: 30px 0px;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        @media only screen and (max-width: $tablet) {
          grid-template-columns: 1fr 1fr;
        }
        li {
          color: #fff;
          font-size: $small-text;
          display: flex;
          align-items: center;
          & > span {
            color: $highlight;
            margin-right: 1em;
            font-size: 22px;
            font-weight: 600;
            @media only screen and (max-width: $mobile) {
              margin-right: 0.3em;
            }
          }
        }
      }
    }
    .experience-grid {
      margin: 30px 0px;
      .experience-grid-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        @media only screen and (max-width: $tablet) {
          grid-template-columns: 1fr 1fr;
        }
        @media only screen and (max-width: $mobile) {
          grid-template-columns: 1fr;
        }
        .experience-item {
          padding: 5%;
          background-color: $base-dark-3;
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          transition: 0.3s all ease;
          h5 {
            margin-bottom: 0.1em;
            transition: 0.3s all ease;
          }
          span {
            display: block;
            font-size: $small-text;
            opacity: 0.8;
            margin-bottom: 1em;
          }
          p {
            a {
              color: $highlight;
            }
          }
          &:hover {
            //background-color: $dark-highlight;
            h5 {
              color: $highlight;
            }
          }
        }
      }
    }

    .main-timelines {
      margin: 30px 0px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      @media only screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
      }
      .timeline {
        .timeline-inner {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 40px;
          .time-section {
            padding-right: 60px;
            position: relative;
            @media only screen and (max-width: $small-mobile) {
              padding-right: 40px;
            }
            .time-content {
              padding: 5%;
              display: inline-block;
              width: 100%;
              background-color: $base-dark-3;
              box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
              transition: 0.3s all ease;
              position: relative;
              h5 {
                float: left;
                max-width: 260px;
                transition: 0.3s all ease;
                @media only screen and (max-width: $small-mobile) {
                  float: none;
                  max-width: 100%;
                }
              }
              span {
                float: right;
                padding: 5px 10px;
                border-radius: 10px;
                background-color: $base-dark-0;
                color: $highlight;
                font-size: $small-text;
                @media only screen and (max-width: $small-mobile) {
                  display: inline-block;
                  float: none;
                }
              }
              p {
                display: inline-block;
                width: 100%;
                margin-top: 1.5em;
              }
              &:after {
                content: "";
                width: 0;
                height: 0;
                border: 15px solid transparent;
                border-top: 0;
                border-bottom: 20px solid $base-dark-3;
                position: absolute;
                transform: rotate(90deg);
                right: -24px;
                top: 15px;
                transition: 0.3s all ease;
              }
            }
            .time-line {
              width: 4px;
              height: calc(100% + 45px);
              background-color: $base-dark-0;
              position: absolute;
              right: 15px;
              top: 15px;
              .time-point {
                position: absolute;
                top: 0px;
                left: -6px;
                width: 15px;
                height: 15px;
                background-color: transparent;
                border: 4px solid $highlight;
                border-radius: 100px;
                box-shadow: 0 0 0 0 rgba(255, 193, 7, 1);
                transform: scale(1);
              }
            }
            &:last-of-type {
              .time-line {
                height: calc(100% - 15px);
              }
            }
            &:hover {
              .time-content {
                //background-color: $dark-highlight;
                h5 {
                  color: $highlight;
                }
              }
              .time-line {
                .time-point {
                  animation: pulse 2s infinite;
                }
              }
            }
          }
        }
      }
    }

    footer {
      padding: 15px 30px;
      display: inline-block;
      width: 100%;
      background-color: $base-dark-3;
      vertical-align: bottom;
      p {
        margin: 0px;
        @media only screen and (max-width: $mobile) {
          float: none !important;
          text-align: center;
        }
      }
      p:nth-of-type(1) {
        float: left;
        @media only screen and (max-width: $mobile) {
          margin-bottom: 10px;
        }
      }
      p:nth-of-type(2) {
        float: right;
      }
    }
  }
}

.backend {
  height: 100%;
  .backend-inner {
    overflow-y: scroll;
    height: 100%;
    padding-top: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    form {
      width: 100%;
      label {
        margin: 20px 0px;
        width: 100%;
        display: inline-block;
        text-align: left;
      }
      input {
        width: 100%;
      }
      .row.multiple {
        & > label {
         // grid-column: 1/-1;
          margin-bottom: 0;
          margin-top: 40px;
        }
        .object {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 40px;
          grid-gap: 20px;
          align-items: end;
        }
        &.rowinfo .object {
          grid-template-columns: 1fr 1fr 1fr 40px;
        }
        &.skills .object {
          grid-template-columns: 1fr 1fr 40px;
        }
        &.knowledge .object {
          grid-template-columns: 1fr 1fr 40px;
        }
        &.downloads .object {
          grid-template-columns: 1fr 1fr 1fr 1fr 40px;
        }
        &.social .object {
          grid-template-columns: 1fr 1fr 1fr 40px;
        }
        &.numbersrow .object {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 40px;
        }
        &.experiences .object {
          grid-template-columns: 1fr 1fr 1fr 1fr 40px;
        }
        &.sections .object {
          grid-template-columns: 1fr 1fr 1fr 1fr 40px;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 193, 7, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 193, 7, 0);
  }
}
